services:
  builder:
    image: localreleaser:latest
    build:
      dockerfile: Dockerfile.releaser
    volumes:
      - .:/app

  runner:
    image: erinatkinson/slack-emojinator:latest
    build:
      dockerfile: Dockerfile.runner
    entrypoint:
      - /bin/sh

  import:
    image: erinatkinson/slack-emojinator:latest
    volumes:
      - ./import/:/opt/emojinator/import:ro
    command:
      - import
    env_file:
      - .env

  export:
    image: erinatkinson/slack-emojinator:latest
    volumes:
      - ./export/:/opt/emojinator/export:rw
    command:
      - export
    env_file:
      - .env

