## Emojis (Page {{ page_count }})

{% if next_page and prev_page %}
[Previous Page]({{ prev_page }}) | [Next Page]({{ next_page}})
{% elif next_page and not prev_page %}
| [Next Page]({{ next_page}})
{% elif  prev_page and not next_page %}
[Previous Page]({{ prev_page }}) |
{% endif %}

<hr />

|Emoji Name|Image|
| :-: | :-: |
{% for emoji in emojis %}
|{{ emoji["name"] }}| ![{{ emoji["name"] }}]({{ emoji["path"] }})|
{% endfor %}

<hr />

{% if next_page and prev_page %}
[Previous Page]({{ prev_page }}) | [Next Page]({{ next_page}})
{% elif next_page and not prev_page %}
| [Next Page]({{ next_page}})
{% elif  prev_page and not next_page %}
[Previous Page]({{ prev_page }}) |
{% endif %}